<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Plant Images</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <style>
    body {
      background-color: #343a40;
      color: #fff;
    }
    .card {
      height: 500px; /* Adjust this value to change the card height */
    }
    .card-img-top {
      height: 85%; /* Adjust this value to change the image height */
      object-fit: cover;
    }
    .card-date {
      color: #ccc;
      margin: 0; /* Remove margin */
      padding: 5px; /* Add some padding */
      font-size: 0.8rem; /* Reduce font size */
    }
  </style>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container px-4 py-5" id="custom-cards">
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div th:each="entry : ${dailyPlantUpdates.entrySet()}" class="col">
      <div class="card bg-dark text-white">
        <img th:src="'data:image/jpeg;base64,' + ${entry.value}" class="card-img-top" alt="Plant image">
        <div class="card-body p-0"> <!-- Remove padding -->
          <p class="card-date" th:text="${entry.key.entryDate}"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>