<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Plant Details</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.css"/>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- DataTables JavaScript -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.js"></script>
    <style>
        body {
            background-color: #343a40;
            color: #fff;
        }

        .strain-card {
            border: none;
            border-radius: 1rem;
            background-color: #495057;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 2rem;
            margin-bottom: 2rem;
        }

        .strain-card h1 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        .strain-card p {
            font-size: 1.1rem;
            margin-bottom: 1rem;
        }

        .strain-card .badge {
            margin-right: 0.5rem;
        }

    </style>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container px-4 py-5" id="custom-cards">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

        <!-- First Card: Title and Picture -->
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                 th:style="'background-image: url(data:image/jpeg;base64,' + ${imageData} + '); background-size: cover; background-position: center; background-repeat: no-repeat;'">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h1 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" th:text="${plant.strain.name}"></h1>

                </div>
            </div>
        </div>

        <!-- Second Card: Description, Title and Aliases -->
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h1 class="mb-4 display-6 lh-1 fw-bold" th:text="${plant.strain.name + ' (ID: ' + plant.id + ')'}"></h1>
                    <p th:text="${#strings.arrayJoin(plant.strain.aliases, ', ')}"></p>
                    <p th:text="${plant.strain.description}"></p>
                </div>
            </div>
        </div>

        <!-- Third Card: All Other Information -->
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <p><strong>Start of Germination Stage:</strong> <span
                            th:text="${plant.startOfGerminationStage ?: '?'}"></span></p>
                    <p><strong>Start of Seedling Stage:</strong> <span
                            th:text="${plant.startOfSeedlingStage ?: '?'}"></span></p>
                    <p><strong>Start of Vegetative Stage:</strong> <span
                            th:text="${plant.startOfVegetativeStage ?: '?'}"></span></p>
                    <p><strong>Start of Flowering Stage:</strong> <span
                            th:text="${plant.startOfFloweringStage ?: '?'}"></span></p>
                    <p><strong>Harvest Date:</strong> <span th:text="${plant.harvestDate ?: '?'}"></span></p>
                    <p><strong>Start of Drying Date:</strong> <span th:text="${plant.startDryingDate ?: '?'}"></span>
                    </p>
                    <p><strong>Start of Curing Date:</strong> <span th:text="${plant.startCuringDate ?: '?'}"></span>
                    </p>
                    <p><strong>Harvest Weight:</strong> <span th:text="${plant.harvestWeight ?: '?'}"></span></p>
                </div>
            </div>
        </div>

    </div>

    <div class="text-center">
        <a th:href="@{'/plants/edit/' + ${plant.id}}" class="btn btn-success" style="padding: .375rem 8rem;">Edit</a>
        <a th:href="@{'/dailyupdates/images/' + ${plant.id}}" class="btn btn-primary" style="padding: .375rem 8rem;">View Images</a>
        <!-- Delete button -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" style="padding: .375rem 8rem;">Delete</button>
    </div>

</div>


<div class="container mt-4">
    <table id="myTable" class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Entry Date</th>
            <th scope="col">Week</th>
            <th scope="col">Day</th>
            <th scope="col">Water</th>
            <th scope="col">Nutrients</th>
            <th scope="col">Stage</th>
            <th scope="col">Comment</th>
            <th scope="col">Problem</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dailyPlantUpdate : ${dailyPlantUpdates}" th:data-href="@{'/dailyupdates/details/' + ${dailyPlantUpdate.id}}">
            <td th:text="${dailyPlantUpdate.entryDate}"></td>
            <td th:text="${dailyPlantUpdate.week}"></td>
            <td th:text="${dailyPlantUpdate.day}"></td>
            <td th:text="${dailyPlantUpdate.water}"></td>
            <td th:text="${dailyPlantUpdate.nutrients}"></td>
            <td th:text="${dailyPlantUpdate.stage}"></td>
            <td th:text="${dailyPlantUpdate.comment}"></td>
            <td th:text="${dailyPlantUpdate.problem}"></td>
        </tr>
        </tbody>
    </table>
</div>


<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this entry?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <form th:action="@{'/plants/details/delete/' + ${plant.id}}" method="post">
                    <button type="submit" class="btn btn-danger">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/bootstrap.min.js}"></script>
<script>
    $(document).ready( function () {
        $('#myTable').DataTable({
            "info": false,
        });
    } );

    $(document).ready(function() {
        // Add a click event listener to each table row
        $('#myTable tbody tr').on('click', function() {
            // Get the URL from the data-href attribute
            var href = $(this).data('href');

            // Navigate to the URL
            window.location.href = href;
        });
    });
</script>
</body>
</html>