<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <a class="navbar-brand px-3" href="/" style="color: #009800; font-size: 30px; font-weight: bold;">DataPlants</a>
                <ul class="navbar-nav">
                    <li><a href="/" class="nav-link px-2 bold">Home</a></li>
                    <li><a href="/strains" class="nav-link px-2 bold">Strains</a></li>
                    <li><a href="/plants" class="nav-link px-2 bold">Plants</a></li>
                    <li><a href="/dailyupdates" class="nav-link px-2 bold">Daily Updates</a></li>
                </ul>
            </div>

            <!--
            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://de.seedfinder.eu/pics/galerie/Fast_Buds_Company/Banana_Purple_Punch_Auto/11052229798767263_big.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small dropdown-menu-end" style="min-width: 150px;">
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
            -->

        </div>
    </nav>
    <!-- Include Bootstrap JS from local static resources -->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap.esm.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
</div>
