<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Image Test</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        /* Include the same CSS styles as in add-strain.html */
        body {
            background-color: #343a40;
            color: #fff;
        }

        /* Add more styles as needed... */
    </style>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container py-5">
    <h1 class="mb-4">Image Test</h1>

    <!-- HTML form for image upload -->
    <form th:action="@{/image-test}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <input type="text" name="name" placeholder="Image name" required>
        <input type="text" name="type" placeholder="Image type" required>
        <button type="submit">Upload</button>
    </form>


</div>
<!-- Include Bootstrap JS and its dependencies below -->
<script src="/static/js/bootstrap.bundle.min.js"></script>
<!-- Add your JavaScript code here... -->
</body>
</html>