<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Information</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<div th:replace="~{fragments/navBar :: navbar}"></div>

<body>



<!-- Include Bootstrap JS and its dependencies below -->
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>

<div th:replace="~{fragments/footer :: footer}"></div>


</html>