<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Image</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        /* Include the same CSS styles as in add-strain.html */
        body {
            background-color: #343a40;
            color: #fff;
        }

        /* Add more styles as needed... */
    </style>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container py-5">
    <h1 class="mb-4">View Image</h1>

    <div class="text-center">
        <img th:src="@{'data:image/jpeg;base64,' + ${imageData}}" alt="" class="img-fluid">
    </div>

    <p class="text-center" th:text="${image.name}"></p>
</div>
<!-- Include your JavaScript files here -->
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>