<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Strains</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .custom-card {
            border: 3px solid #424242;
        }
        body {
            background-color: #343a40;
            color: #fff;
        }
    </style>
</head>

<body class="body text-white">
<div th:replace="~{fragments/navbar :: navbar}"></div>

<h1 class="text-center display-1 mt-4">Strains</h1>

<div class="container mt-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" th:each="strain : ${strains}">
            <!-- Wrap the card inside an <a> tag -->
            <a th:href="@{'/strains/' + ${strain.id}}" class="text-decoration-none text-reset">
                <div class="card h-100 bg-dark custom-card text-white">
                    <!-- You can add an image here if you have one -->
                    <div class="card-body">
                        <h5 class="card-title" th:text="${strain.name}"></h5>
                        <p class="card-text" th:text="${strain.description.length() > 140 ? #strings.substring(strain.description, 0, 140) + '...' : strain.description}"></p>                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item custom-card bg-dark text-white"
                            th:text="'Grow Type:  ' + ${strain.growType}"></li>
                        <li class="list-group-item custom-card bg-dark text-white"
                            th:text="'Strain Type:  ' + ${strain.strainType}"></li>
                        <li class="list-group-item custom-card bg-dark text-white"
                            th:text="'Taste:  ' + ${strain.getTastes()}"></li>
                        <li class="list-group-item custom-card bg-dark text-white"
                            th:text="'THC Level:  '+ ${strain.thcLevel} + '%'"></li>
                        <li class="list-group-item custom-card bg-dark text-white"
                            th:text="'Seed Origin:  '+ ${strain.seedOrigin}"></li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row justify-content-center m-3">
    <a href="/strains/add" class="btn btn-success col-md-3">Add New Strain</a>
</div>

<!-- Include Bootstrap JS and its dependencies below -->
<script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>